{{define "main"}}

<!DOCTYPE html>
<html>
  <head>
    <!-- Meta tags -->
    <title>{{.Meta.Title}}</title>
    <meta property="og:title" content={{.Meta.Title}}>

    <meta name="description" content={{.Meta.Description}}>
    <meta property="og:description" content={{.Meta.Description}}>

    <meta property="og:type" content="website">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">

    <!-- Others remove id thingy-->
    <link rel="stylesheet" href="/assets/style.css?id=123123123">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Sometype+Mono&family=Ubuntu+Mono&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="parent-container">
      {{template "content" .Content}}
    </div>
  </body>
</html>

{{end}}
